---
layout: default
gallery: true
---
<div class="page-header">
  <h3><a href="/{{ site.gallery.dir }}">{{ page.title }}</a></h3>
  {% if page.description %}
  <p>{{ page.description }}</p>
  {% endif %}
</div>

<div class="row" id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery" data-selector="a.gallery-item">
<div class="thumbnails">
{% for image in page.images %}
    <div class="col-sm-6 col-md-3">
      <a href="{{ image.filename }}" title="{{ image.title }}" class="">
	      <img class="img-thumbnail img-responsive" style="width: 200px; height: 200px;"  alt="{{ image.title }}" src="thumbs/{{ image.filename | uri_escape}}" />
      </a>
      <div class="caption">
        <strong>{{ image.title }}</strong>
        <p>{{ image.comment }}</p>
      </div>
    </div>
{% endfor %}
</div>
</div>